extends layout

block content
  script.
    var socket = io();   

    function AddItem(){           
      socket.emit('add', {
        'option': 0
      });        
    }

    function ClearItem(){     
      socket.emit('clear', {
        'option': 1
      });   
    }

    socket.on('update', function (list) {        
      Refresh(list);
    });      

    function Refresh(list){
      $('#list').empty();

      for (i = 0; i < list.length; i++) {       
        $("#list").append('<li class="list-group-item">' + list[i] + '</li>');
      } 

      $('#spinner').hide('slow')
    }      

    window.addEventListener("load", function(){
      //alert("#{title}");
      //var list = #{JSON.stringify(problems)}
      //var list = JSON.parse('!{JSON.stringify(problems)}');

      //Refresh(list); 

      $('#spinner').show('slow')

      socket.emit('refresh', {
        'option': 2
      });    
    });  

  p #{title}     
  p #{new Date().getFullYear()} 
  hr
  ul(class="nav nav-tabs" role="tablist")
    li(class="nav-item" role="presentation")
      a(class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false") Home
    li(class="nav-item" role="presentation")
      a(class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true") Profile
    li(class="nav-item" role="presentation")
      a(class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false") Contact
    li(class="nav-item" role="presentation")
      a(class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="false") Form  

  div(class="tab-content")    
    div(class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab")       
      ul(class="list-group")
        each image in images
          if image.id == 1
            li(class="list-group-item d-flex justify-content-between align-items-center active")= image.title
              span(class="badge badge-primary badge-pill") 14
          else
            li(class="list-group-item d-flex justify-content-between align-items-center")= image.title
              div(class="form-check form-check-inline")
                input(class="form-check-input" type="checkbox")
                label(class="form-check-label") OK

    div(class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab")
      div
        table(class="table text-center")
          thead(class="thead-dark")
            tr
              th(scope="col") #
              th(scope="col") Title
              th(scope="col") Content
              th(scope="col") Source
              th(scope="col") Image
          tbody
            each image in images
              tr
                th(scope="row" class="align-middle")= image.id
                td(class="align-middle")= image.title
                td(class="align-middle")= image.content
                td(class="align-middle")= image.source
                td(class="align-middle")
                  img(src=image.source alt=image.title style="width: 100px;")                  

    div(class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab")        
      button(id="btnAdd" type="button" class="btn btn-outline-primary" onclick='AddItem()')  
        div                    
          span(id="spinner" class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true")
          span Add
                         
      button(id="btnClear" type="button" class="btn btn-outline-primary" onclick='ClearItem()') Clear
      hr
      div
        ul(id="list" class="list-group")         
      //- div
      //-   ul(class="list-group")
      //-     each problem in problems
      //-       li(class="list-group-item")= problem              

    div(class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="contact-form")      
      include ../public/html/form.html         